
{{ $all_features := index .Site.Data.en "audiences" }}
{{ $selected := .Params.audiences}}
<section id="audiences" class="section">
	<div class="container">
		<div class="row">
			<div class="col-lg-4" >
			<!-- this image is for trigger this section fallback background image -->
			<div class="title text-right">
				<h2>Ideal for</h2>				
			</div>
			</div>
			<div class="col-lg-8">
{{ range $all_features }}
{{ if in $selected .title }}
<div class="card">
	<div class="row">
	  <div class="col-md-3 px-sm-0">
		<img class="img-fluid card-img lozad card-image-cover" data-src="{{ .image | absURL }}" alt="{{ .title }}">
	  </div>
	  <div class="col-md-8">
		<div class="card-body">
			<h5 class="card-title">{{ .title }} </h5>
			<p class="card-text">{{ .description }}</p>
		</div>
	  </div>
	</div>
	</div>
{{ end }}
{{ end }}
		</div>
	</div>
</section>
