{{ $selected := .Scratch.Get "id" }} 
<section class="section-sm section-bg call-to-action"  id="{{ $selected }}">


	<div class="container">
		<div class="row">
			<div class="col-md-4 text-right">
				{{ if eq $selected 1 }}
				<h2>Find out more</h2>
				</div>
				<div class="col-md-6 text-left">
				<!--HubSpot Call-to-Action Code --><span class="hs-cta-wrapper" id="hs-cta-wrapper-0b58e07b-86e5-4b13-bd1f-a19e8b87913b"><span class="hs-cta-node hs-cta-0b58e07b-86e5-4b13-bd1f-a19e8b87913b" id="hs-cta-0b58e07b-86e5-4b13-bd1f-a19e8b87913b"><!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]--><a href="https://cta-redirect.hubspot.com/cta/redirect/5410772/0b58e07b-86e5-4b13-bd1f-a19e8b87913b" ><img class="hs-cta-img" id="hs-cta-img-0b58e07b-86e5-4b13-bd1f-a19e8b87913b" style="border-width:0px;" src="https://no-cache.hubspot.com/cta/default/5410772/0b58e07b-86e5-4b13-bd1f-a19e8b87913b.png"  alt="Request brochure"/></a></span><script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script><script type="text/javascript"> hbspt.cta.load(5410772, '0b58e07b-86e5-4b13-bd1f-a19e8b87913b', {}); </script></span><!-- end HubSpot Call-to-Action Code -->
				{{ else if  eq $selected 2 }}
				<h2>Schedule a call</h2>
				</div>
				<div class="col-md-8 text-left">
<!--HubSpot Call-to-Action Code --><span class="hs-cta-wrapper" id="hs-cta-wrapper-4d7ed4f8-504a-4667-8b7e-431f992295f7"><span class="hs-cta-node hs-cta-4d7ed4f8-504a-4667-8b7e-431f992295f7" id="hs-cta-4d7ed4f8-504a-4667-8b7e-431f992295f7"><!--[if lte IE 8]><div id="hs-cta-ie-element"></div><![endif]--><a href="https://cta-redirect.hubspot.com/cta/redirect/5410772/4d7ed4f8-504a-4667-8b7e-431f992295f7"  target="_blank" ><img class="hs-cta-img" id="hs-cta-img-4d7ed4f8-504a-4667-8b7e-431f992295f7" style="border-width:0px;" src="https://no-cache.hubspot.com/cta/default/5410772/4d7ed4f8-504a-4667-8b7e-431f992295f7.png"  alt="Schedule meeting"/></a></span><script charset="utf-8" src="https://js.hscta.net/cta/current.js"></script><script type="text/javascript"> hbspt.cta.load(5410772, '4d7ed4f8-504a-4667-8b7e-431f992295f7', {}); </script></span><!-- end HubSpot Call-to-Action Code -->
				{{ else if  eq $selected 3 }}
				<h2>Get started now</h2>
				</div>
				<div class="col-md-6 text-left">
					{{ $form := resources.Get "/js/hubspotform.js" | minify | fingerprint }}
				<script  src="{{ $form.Permalink }}"></script>
				<script>
				hbspt.forms.create({
					portalId: "5410772",
					formId: "4b693057-f5c9-4f99-a8ad-20c118f6d727"
				});
				</script>
				{{ end }}
			</div>
		</div>
	</div>


</section>