{{ $selected := .Scratch.Get "id" }}
<section id="{{ $selected }}">
{{ range .Site.Data.en.testimonials }}
{{ if in $selected .title }}
<div class="container mx-auto card mb-lg-5">
	<div class="row">
	  <div class="col-md-2 px-sm-0">
		<img class="img-fluid card-img lozad card-image-cover" data-src="{{ .image }}" alt="{{.name}} from {{.company}}">
	  </div>
	  <div class="col-md-8">
		<div class="card-body">
		  <h5 class="card-title">{{ .name }}, {{ .role }}, {{ .company }} </h5>
		  <p class="card-text">{{ .content }}</p>
		</div>
	  </div>
	</div>
  </div>
{{ end }}
{{ end }}
</section>