{{"<!-- Footer -->" | safeHTML}}
<footer id="footer">
	<div class="container">

		<div class="row">
			<div class="col-xl-12">
				{{"<!-- copyright -->" | safeHTML}}
				<div class="copyright text-center">
					<a href="{{ .Site.BaseURL | absLangURL }}">
						<img src="{{ .Site.Params.logo | absURL }}" alt="{{ .Site.Title }}" />
					</a>
				</div>
			</div>
		</div>

		<div class="row text-center">
			<div class="col-sm-3">
				<h3>Key Links</h3>
				<ul>
					{{ range .Site.Menus.important }}
						<li><a href="{{ .URL}}">{{ .Name }}</a></li>
					{{ end }}
				</ul>
			</div>
			<div class="col-sm-3">
				<h3>Our Products</h3>
				<ul>
					{{ range .Site.Menus.products }}
						<li><a href="{{ .URL | absLangURL}}">{{ .Name }}</a></li>
					{{ end }}
				</ul>
			</div>
			<div class="col-sm-3">
				<h3>Contact Us</h3>
				<ul>
					{{ range .Site.Menus.social }}
					<li><a href="{{ .URL | absLangURL}}" title="{{ .Name }}">{{ .Name }}</a></li>
					{{ end }}
				</ul>
			</div>
			<div class="col-sm-3">
				<h3>Resources</h3>
				<ul>
					{{ range .Site.Menus.resources }}
					<li><a href="{{ .URL | absLangURL}}">{{ .Name }}</a></li>
					{{ end }}
				</ul>
			</div>
		</div>
		
		<div class="row">
			<div class="col-xl-12">
				{{"<!-- copyright -->" | safeHTML}}
				<div class="copyright text-center">
					<p>{{ i18n "copyright" | markdownify }}</p>
				</div>
			</div>
		</div>
	</div>
</footer>
{{"<!-- /footer -->" | safeHTML}}




{{ $bootstrap := resources.Get "js/bootstrap.min.js" }}
{{ $shuff := resources.Get "js/shuffle.min.js" }}

{{ $fullscript := slice $bootstrap $shuff | resources.Concat "/js/bundleASYNC.js" | minify | fingerprint }}
<script async defer src="{{ $fullscript.Permalink }}"></script>


{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>
