
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">

	<link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Zilla+Slab:ital@0;1&display=swap" rel="stylesheet">
{{ $bootstrap := resources.Get "css/bootstrap.min.css" }}
{{ $themify := resources.Get "css/themify-icons.css" }}
{{ $magnific := resources.Get "css/magnific-popup.css" }}
{{ $company := resources.Get "css/style.css" }}


{{ $fullstyle := slice $bootstrap $themify $magnific $company | resources.Concat "css/bundle.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $fullstyle.Permalink }}">

	{{ "<!--Favicon-->" | safeHTML }}
	<link rel="shortcut icon" href="{{ `images/favicon.png` | absURL }}" type="image/x-icon">
	<link rel="icon" href="{{ `images/favicon.png` | absURL }}" type="image/x-icon">
	<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
{{ partial "googletag.html" . }}
{{ "<!-- JS Plugins -->" | safeHTML }}
{{ $jquery := resources.Get "js/jquery.min.js" }}
{{ $lozad := resources.Get "js/lozad.min.js" }}
{{ $magnific := resources.Get "js/jquery.magnific-popup.min.js" }}

{{ $fullscript := slice $jquery $lozad $magnific | resources.Concat "/js/bundleSYNC.js" | minify | fingerprint }}
<script  src="{{ $fullscript.Permalink }}"></script>
