<section class="sticky-top navigation">
	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-dark">
			<button class="navbar-toggler rounded-0" type="button" data-toggle="collapse" data-target="#navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand p-0" href="{{ .Site.BaseURL | relLangURL }}">
				{{ if .Site.Params.logo }}
				<img class="img-fluid" src="{{ .Site.Params.logo | absURL }}" alt="{{ .Site.Title }}">
				{{ else }}
				{{ .Site.Title }}
				{{ end }}
			</a>

			

			<div class="collapse navbar-collapse" id="navigation">
				<ul class="navbar-nav ml-auto">
					{{ $currentPage := . }}
					{{ range .Site.Menus.main }}
						{{ if .HasChildren }}
							<li class="nav-item dropdown {{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
								<a class="nav-link  dropdown-toggle" href="{{ .URL | relLangURL}}" title="{{ .Name }}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ .Name }}</a>
							
								<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								{{ range .Children }}
								<a class="dropdown-item" href="{{ .URL | relLangURL}}">{{ .Name }}</a>
									
								{{ end }}
							</li>
							</li>
						{{ else }}
						<li class="nav-item  {{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}"><a class="nav-link" href="{{ .URL | relLangURL}}" title="{{ .Name }}">{{ .Name }}</a></li>
						{{ end }}
					{{ end }}
					<li>{{ partial "search.html" . }}</li>
				</ul>
				
			</div>
		</nav>
	</div>
</section>