<meta property="og:title" content="{{ .Title }} | {{ .Site.Title }}" />
<meta property="og:site_name" content="{{ .Site.Params.sitename }}" />
<meta name="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}">
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:locale" content="{{ .Language.Lang }}">

{{ with .Params.image }} 
  <meta name="og:image" content="{{ . | absURL }}" />
{{ else }}
  <meta name="og:image" content="{{ .Site.Params.defaultImage | absURL }}" />
  <meta name="og:image:alt" content="{{ .Site.Params.defaultImageAlt | absURL }}" /> 
{{ end }}
{{ with .Params.image_alt -}}<meta name="og:image:alt" content="{{- . -}}">{{- end }}

{{ with .Params.video }} 
  <meta name="og:video" content="{{ . | absURL }}" />
{{- end }}

<meta property="og:updated_time" content={{ .Lastmod.Format "2006-01-02T15:04:05Z0700" | safeHTML }} />

