{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.skill.skill.enable }}
{{ with $data.skill.skill }}
{{"<!-- Skills -->" | safeHTML }}
<section id="skills" class="section section-bg">
	<div class="container">
		<div class="row">
			{{"<!-- section title -->" | safeHTML }}
			<div class="col-lg-12">
				<div class="title text-center">
					<h2>{{ with .title }} {{ index (split . " ") 0 }} {{ end }}<span class="color">
							{{ with .title }} {{ index (split . " ") 1 }} {{ end }} </span></h2>
					<div class="border-meghna"></div>
				</div>
			</div>
			{{"<!-- /section title -->" | safeHTML }}
		</div>
		<div class="row">
			<div class="col-lg-4">
				<h2>{{ .subtitle | markdownify }}</h2>
				<p> {{ .content | markdownify }}</p>
			
			</div>
			<div class="col-lg-8">
				<ul class="skill-bar">
					{{ $.Scratch.Set "counter" 0 }}
					{{ range $index, $element:= .skill_item }}
					{{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
					<li>
						<p> &nbsp;</p>
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
								style="width:{{ .percent }}"><p style = "text-align:left; padding-left: 6px;">{{ .name }} : {{ .percent }}</p>
							</div>
						</div>
					</li>
					{{ end }}
				</ul>
			</div>
		</div>
	</div>
</section>
{{"<!-- /skill -->" | safeHTML }}
{{ end }}
{{ end }}