{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.testimonial.testimonial.enable }}
{{ with $data.testimonial.testimonial }}
{{"<!-- Start Testimonial -->" | safeHTML}}
<section id="testimonial" class="testimonial overly section bg-2 lozad" data-background-image="{{ .bg_image_webp | absURL }}">
	<!-- this image is for trigger this section fallback background image -->
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-12">
				{{"<!-- section title -->" | safeHTML }}
				<div class="title text-center">
					<h2>{{ with .title }} {{ index (split . " ") 0 }} {{ end }}<span class="color">
							{{ with .title }} {{ index (split . " ") 1 }} {{ end }} </span></h2>
					<div class="border-meghna"></div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-xl-12">

<div id="carouselIndicators" class="carousel slide" data-ride="carousel">

  <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  <div class="carousel-inner" role="listbox" style="min-height: 600px !important;">
	{{ range $key, $value := .testimonial_item  }}
	{{ $active := "" }}
	{{ if eq $key 0 }}
	  {{ $active = "active" }}
	{{ end }}
	  <div class="carousel-item {{ $active}} item text-center" role="option">

						{{"<!-- client photo -->" | safeHTML}}
						<div class="client-thumb">
							<img class="img-fluid lozad" data-src="{{ .image_webp | absURL }}" onerror="this.onerror=null;this.src='{{ .image | absURL }}'" alt="{{ .name }}">
						</div>

						{{"<!-- client info -->" | safeHTML}}
						<div class="client-info">
							<div class="client-meta">
								<h3>{{ .company }}</h3>
								<span>{{ .name }}</span>
							</div>
							<div class="client-comment">
								<p>{{ .content | markdownify }}</p>
							</div>
						</div>
					</div>
					{{ end }}
  </div>


</div>


			</div>
		</div>
	</div>
</section>
{{"<!-- /testimonial -->" | safeHTML}}
{{ end }}
{{ end }}