{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.video.video.enable }}
{{ with $data.video.video }}
{{"<!-- Start Testimonial -->" | safeHTML}}
<section id="video" >
    <div class="overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" controls>
      <source src="{{ .video }}" type="video/mp4">
    </video>
     <div class="container h-100">
     </div>
</section>
{{ end }}
{{ end }}