<article class="col-lg-4 col-md-6 col-12 clearfix mb-4">
  <div class="post-block">
    {{ if or .Params.Image_webp .Params.Image }}
    <div class="media-wrapper">
      <img alt="{{ .Title}}" class="img-fluid lozad" title="{{ .Title }}" data-src="{{ .Params.Image_webp | absURL }}" onerror="this.onerror=null;this.src='{{ .Params.Image | absURL }}'">
    </div>
    {{ end }}

    <div class="content">
      <h3><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h3>
      <p>{{ .Params.Description }}</p>
      <a class="btn btn-transparent" href="{{ .Permalink }}"  title="{{ .Title }}">{{ i18n "readMore" }}</a>
    </div>
  </div>
</article>