{{ define "main" }}
{{ partial "courses/navigation-top.html" . }}
{{ partial "courses/banner.html" . }}
{{ partial "courses/navigation.html" . }}
{{ partial "courses/split_panel" (dict "id" "summary" "title" .Title "text" .Params.value_proposition ) }}
{{ partial "courses/features.html" . }}
{{ partial "courses/split_panel" (dict "id" "outcomes" "title" "Course outcomes" "text" .Params.outcomes ) }}
{{  .Scratch.Set "id" .Params.testimonial_1  }}
{{ partial "courses/testimonials.html" . }}
{{ partial "courses/split_panel" (dict "id" "prerequisites" "title" "Course fit" "text" .Params.prerequisites ) }}
{{ partial "courses/audiences.html" . }}

{{  .Scratch.Set "id" 1 }}
{{ partial "courses/cta.html" . }}

{{ partial "courses/split_panel" (dict "id" "feature_highlight" "title" .Params.feature_highlight_title "text" .Params.feature_highlight ) }}
{{ partial "courses/experts.html" . }}
{{  .Scratch.Set "id" .Params.testimonial_2  }}
{{ partial "courses/split_panel" (dict "id" "course_structure" "title" "Course Structure" "text" .Params.course_structure ) }}
{{ partial "courses/testimonials.html" . }}

{{  .Scratch.Set "id" 2 }}
{{ partial "courses/cta.html" . }}

{{ partial "courses/split_panel" (dict "id" "course_details" "title" "Course details" "text" .Params.course_details ) }}
{{ partial "courses/split_panel" (dict "id" "course_deliverables" "title" "Course deliverables" "text" .Params.deliverables ) }}
{{ partial "courses/offers.html" . }}

{{  .Scratch.Set "id" 3  }}
{{ partial "courses/cta.html" . }}

<section id="single-blog" class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 pt-sm-1 pt-md-3 pt-lg-5">
        {{"<!-- section title -->" | safeHTML}}
        <div class="title text-left">
          <h2>Additional information</h2>
          <p>{{ .Content}} </p>
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}